#full-page-wrapper{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    ::-webkit-scrollbar {
        display: none !important;
    }
}

.full-width-section{
    width: 100vw;
    position: relative;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    display: flex;
    flex-direction: column;
    scroll-snap-stop: always;
    color:white;
    background-color: #333;
}

section.hero-section{
    background-image:url("../images/sectionImages/hero3.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;



    #shade-overlay{
        width:100%;
        height:100%;
        background-color: rgba(0, 0, 0, 0.427);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;


        #hero-logo{
            width:20%;
            position: absolute;
            top:5%;
            left:5%;
        }
    }

    h1{
        font-family: 'Kaushan Script', cursive;
        font-size:4em;
        position: relative;
        @media screen and (max-width:1100px){
            font-size:8vw;
        }
    }

    h1::before{
        content:'';
        position: absolute;
        width:80%;
        height:5px;
        background-color:white;
        top:100%;
        left:10%;
        border-radius:50%;
    }
    

    h2::before{
        content:"\"";
        position: absolute;
        top:-6vw;
        font-family: 'Kaushan Script', cursive;
        font-size:7vw;
        left:-4vw;
    }
    h2::after{
        content:"\"";
        position: absolute;
        bottom:-6vw;
        transform: rotate(180deg);
        font-family: 'Kaushan Script', cursive;
        font-size:7vw;
        right:-4vw;
    }
    h2{
        position: relative;
        margin-bottom:10%;
        width:30%;
        font-size:1.2rem;
        text-align:justify;

        @media screen and (max-width:1000px){
            width:60%;
            font-size:3vw;
          }
    }

}



.section-title{
    font-family: 'Kaushan Script', cursive;
    font-size:4rem;
    position: relative;
}

.section-title::after{
    content:"";
    position: absolute;
    bottom:0;
    width:80%;
    height:5px;
    background-color: white;
    left:10%;
    border-radius: 50%;

}

section.about-section{
    background-color:#333;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    #about-content-wrapper{
        margin-top:50px;
        width:100%;
        height: 60%;
        display: flex;

        div{
            width:40%;
            margin-left:5%;

            &:nth-of-type(1){
                margin-left:0%;
                width:50%;
                position: relative;
                background-color: #f8bf3a;

                p{
                    color:#333;
                    padding:30px;
                    font-size:2.4rem;
                    text-align: left;
                    border:3px solid #333;
                    margin:10px;
                    height:80%;
                    transition:  0.5s cubic-bezier(0.65,-0.25,0.25,1.95);
                }
                p:hover{
                    border:5px solid #333;
                    padding:40px;
                    font-size:2.2rem;
                }
            }

            &:nth-of-type(2){
                position: relative;
                img{
                    position: absolute;
                    width:60%;
                    object-fit: contain;

                    &:nth-of-type(1){
                        top:-5%;
                        left:10%;
                        z-index:3;
                    }
                    &:nth-of-type(2){
                        top:54%;
                        left:5%;
                        z-index:2;
                    }
                    &:nth-of-type(3){
                        top:-10%;
                        left:40%;
                        z-index:1;
                    }
                }
            }
        }

    }
}




section.gallery-section{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('../images/sectionImages/hero1.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    .gallery-el{
        width:33.3%;
        height:100%;
        background-color: rgba(51, 51, 51, 0.544);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size:3rem;
        color:white;
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:hover{
            color:#f8bf3a
        }
        
        span{
            font-size:8rem;
        }
        &:nth-of-type(2){
            background-color: rgba(51, 51, 51, 0.806); 
        }
    }
}

section.latest-section{
    background-color:#1e1c1a;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    #latest-card-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width:80%;

        @media screen and (max-width:1100px){
            flex-direction: column;
        }
    }
}


footer.footer-section{
    background-color: #f8bf3a;
    color:#333;
    height:10vh;

    h3{
        margin-left:3%;
        margin-top:35px;
        font-size: 1.8rem;
        font-weight: bold;
        font-family: 'Kaushan Script', cursive;
    }
}